.cv-wrapper {
  font-size: 11px;
  position: relative;
  width: 21cm;
  min-height: 29.7cm;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.cv-header-name {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

header {
  position: absolute;
  top: 0px;
  /* left: 0px; */
  width: 100%;
  height: 80px;

  z-index: 100;
  .personal-name {
    margin-top: 35px;

    h1 {
      font-size: 2rem;
    }
  }
}

.logo {
  margin-bottom: 10px;
}

.back-ground-div {
  -webkit-print-color-adjust: exact;
  -webkit-filter: opacity(1);
  width: 100%;
  height: 80px;
  background: linear-gradient(
    177deg,
    transparent 0%,
    transparent 34%,
    rgba(255, 102, 0, 1) 35%,
    rgba(255, 102, 0, 1) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

main {
  margin-top: 100px;
}

.position-label {
  font-size: 2rem;
}

h2,
h3 {
  color: rgba(255, 102, 0, 1);
  font-size: 1.2rem;
  font-weight: bold;
}
.cv-side-bar {
  z-index: 1;
  margin-top: -100px;
  padding-top: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
  .profile-pic {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
    border: 6px white solid !important;
    border-radius: 50%;
    position: relative;
    left: 15px;
    top: 0px;
  }
}
.email {
  color: rgba(255, 102, 0, 1);
}
.navigation {
  background-color: #e5e5e5;
  margin-left: -20px !important;

  .no-bullets {
    list-style-type: none;
  }
}

.bullets {
  padding-inline-start: 16px;
  li::marker {
    color: rgba(255, 102, 0, 1);
  }
}

.font-weight-6 {
  font-weight: 600;
}

.margin-fix {
  margin-left: 5px;
}

.experience {
  border-bottom: 1px solid #e5e5e5;
}

@media print {
  .cv-wrapper {
    margin: 0;
    width: 100%;
  }
}
