body {
  font-family: Arial, sans-serif;
}

.cv-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  width: 21cm;
  height: 29.7cm;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  border: 1px solid;
}

main {
  margin-top: 80px;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}
h2,
h3 {
  font-size: 1rem;
}
.aside {
  margin-top: -80px;
  padding-top: 80px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: -1;
  .div-image {
    background-color: aqua;
    height: 150px;
    width: 150px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    border: 6px white solid;
    border-radius: 50%;

    position: relative;
    left: 105px;
    top: 20px;
  }
}

.home {
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #ebe6e6;
}
